html, body  {
	background: url(hotpotatoBackground_feb_4_1450.jpg) no-repeat center top;
	height: 100%;
	padding-top: 2%;
}

.title-text {
	text-align: center;
	
	
	color: #fff;
}
.intro-message {
	text-align: center;
	padding-bottom: 5%;
	color: #fff;
}
.OutputYouTubeLink {
	color: #000;
}
.signup-form {
	color: #fff;
	text-align: center;
}
.email {
	color:#000;
}
.text {
	color:#000;
}
.button {
	color:#000;
}