html, body  {
	background: url(hotpotatoBackground-with_icons.jpg) no-repeat center top fixed;
	/*height: 120%;*/
	background-size: cover;
	padding-top: 1.5%;
}

.title-text {
	text-align: center;
	padding-top: 4.5%;
	color: #000;
}
.intro-message {
	text-align: left;
	padding-top: 1.5%;
	padding-bottom: 5%;
	padding-left:2%;
	padding-right:0.5%;
	color: #000;
}



.OutputYouTubeLink {
	color: #000;
}
.signup-form {
	color: #000;
	text-align: center;
}
.email {
	color:#000;
}
.text {
	color:#000;
}
.button {
	color:#000;
}

iframe:focus { 
    outline: none;
}
iframe[seamless] { 
    display: block;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 650px)
  {

h1 {
     font-size: 350%;
 }

h3 {
      font-size: 3em;
  } 
.form-group {
  	font-size:26px;
  }
.input-medium {
    width: 210px;
    height: 44px !important;
    margin-bottom: 10px !important;
    line-height: 30px !important;
    padding: 11px 19px !important;
    font-size: 17.5px !important;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }

.input-medium[class=input-medium] {
      width: 400px;
  }

}