.title-text {
	text-align: center;
	padding-top: 20%;
	
	color: #fff;
}
.intro-message {
	text-align: center;
	padding-bottom: 5%;
	color: #fff;
}
.OutputYouTubeLink {
	color: #000;
}
body {
	background: url(storyBackground.jpg) no-repeat center center;
}
.signup-form {
	color: #fff;
	text-align: center;
}
.email {
	color:#000;
}
.text {
	color:#000;
}