.title-text {
	text-align: center;
	padding-top: 20%;
	
	color: #eeac57;
}
.intro-message {
	text-align: center;
	padding-bottom: 10%;
	color: #fff;
}
body {
	background: url(twitterForCats.jpg) no-repeat center center;
}
.signup-form {
	color: #fff;
	text-align: center;
}
.email {
	color:#000;
}